$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Londrina Solid', cursive;
$--grass: #1fc435;
$--poison: #6b137c;
$--fire: #e42a2a;
$--flying: #1ba7df;
$--water: #191375;
$--bug: #237523;
$--normal: #085d48;
$--electric: #cedf34;
$--ground: #b95e29;
$--fairy: #bf58cf;
$--fighting: #363f06;
$--psychic: #000000;
$--rock: #462b20;
$--steel: #867a88;
$--ice: #777edf;
$--ghost: #43114b;
$--dragon: #e7671e;

*{
  border: 1px solid black;
}

@mixin centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tema($cor) {
  background-color: $cor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonte-principal;
  // background: linear-gradient(
  //   to top,
  //   #EBDB50,
  //   #b12c2c
  // );
  position: relative;
  background-image: url('https://images.alphacoders.com/103/thumb-1920-1039414.png');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

  &::after{
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
}

.app {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  position: relative;
  z-index: 2;

  &__list {
    width: 90%;
    margin: 3rem 0;
    @include centralizar;
    flex-wrap: wrap;

    &__searchbox {
      background-color:#4137d3;
      width: 100vw;
      padding: 0.5rem 0;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      z-index: 1;

      &__container {
        width: 80%;
        min-height: 5rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-evenly;
      
        img {
          width: 10rem;
          margin: 0.5rem 0;
        }

        input {
          font-size: 1.2em;
          padding: 0.5rem 1rem;
          border-radius: 4rem;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          outline: none;
          margin: 0.5rem 0;


          &:focus{
            background-color: #e7e7e7;
            color: black;
          }
        }

        button {
          background-color: #dfc639;
          padding: 0.5rem 1rem;
          font-size: 1.5em;
          border-radius: 0.5rem;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          cursor: pointer;
          margin: 0.5rem 0;

          
          a {
            text-decoration: none;
            color: #000000;
          }
        }
      }
    }

    &__card {
      width: 15rem;
      height: 21rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 0.5rem;
      background-color: rgb(230, 230, 230);
      // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: all 0.2s;

      &__id {
        font-weight: 100;
        letter-spacing: 0.1em;
        color: #867a88;
      }

      &__link {
        text-decoration: none;
        color: #000000;
      }

      &__img {
        width: 100%;
      }

      &__category {
        padding: 0.5rem 0;

        a {
          text-decoration: none;
        }

        &__button {
          color: #ffffff;
          border-radius: 0.4rem;
          padding: 0.2rem 0.4rem;
          margin: 0 0.4rem 0 0;
  
          &--grass {
            @include tema($--grass)
          }
  
          &--poison {
            @include tema($--poison)
          }
  
          &--fire {
            @include tema($--fire)
          }
  
          &--flying {
            @include tema($--flying)
          }
  
          &--water {
            @include tema($--water)
          }
  
          &--bug {
            @include tema($--bug)
          }
  
          &--normal {
            @include tema($--normal)
          }
  
          &--electric {
            @include tema($--electric)
          }
  
          &--ground {
            @include tema($--ground)
          }
  
          &--fairy {
            @include tema($--fairy)
          }
  
          &--fighting {
            @include tema($--fighting)
          }
  
          &--psychic {
            @include tema($--psychic)
          }
  
          &--rock {
            @include tema($--rock)
          }
  
          &--steel {
            @include tema($--steel)
          }
  
          &--ice {
            @include tema($--ice)
          }
  
          &--ghost {
            @include tema($--ghost)
          }
  
          &--dragon {
            @include tema($--dragon)
          }
        } 
      }
    }

    &__card:hover {
      transform: scale(0.95);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    }
  }

  .container {
    width: 60%;
    height: 90%;

    @media screen and (max-width: 560px) {
      width: 90%;
    }
  }

  .info {
    @include centralizar;
    flex-direction: column;
    background-color: white;
    padding: 2rem 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    
    &__header {
      font-size: 1.8em;
    }

    &__body {

      img {
        width: 15rem;
        display: block;
        margin: 0 auto;
      }

      &__characteristics {
        padding: 1rem 0;
      }

      &__abilities {
        padding: 1rem 0;
      }

      &__status {
        padding: 1rem 0;
      }

      &__moves {
        padding: 1rem 0;
        text-align: justify;
      }

      &__type {
        padding: 1rem 0;

        p {
          padding: 0 0 0.4rem 0;
        }

        &__button {
          color: #ffffff;
          border-radius: 0.4rem;
          padding: 0.2rem 0.4rem;
          margin: 0 0.4rem 0 0;
  
          &--grass {
            @include tema($--grass)
          }
  
          &--poison {
            @include tema($--poison)
          }
  
          &--fire {
            @include tema($--fire)
          }
  
          &--flying {
            @include tema($--flying)
          }
  
          &--water {
            @include tema($--water)
          }
  
          &--bug {
            @include tema($--bug)
          }
  
          &--normal {
            @include tema($--normal)
          }
  
          &--electric {
            @include tema($--electric)
          }
  
          &--ground {
            @include tema($--ground)
          }
  
          &--fairy {
            @include tema($--fairy)
          }
  
          &--fighting {
            @include tema($--fighting)
          }
  
          &--psychic {
            @include tema($--psychic)
          }
  
          &--rock {
            @include tema($--rock)
          }
  
          &--steel {
            @include tema($--steel)
          }
  
          &--ice {
            @include tema($--ice)
          }
  
          &--ghost {
            @include tema($--ghost)
          }
  
          &--dragon {
            @include tema($--dragon)
          }
        } 
      }
    }

    &__footer {
      padding: 1rem 0;

      &__link {
        background-color: #211988;
        padding: 0.2rem 1rem;
        border-radius: 0.4rem;
        color: #ffffff;
        font-size: 1.4em;
        text-decoration: none;
      }

      &__link:hover {
        background-color: #362adf;
      }
    }
  }

  &__about {
    width: 100vw;
    height: 100vh;
    text-align: center;

    &__container {
      width: 60%;
      margin: 20px auto;
      padding: 1rem 5rem;
      border-radius: 2rem;
      background-color: white;

      @media screen and(max-width: 560px) {
        width: 80%;
        padding: 1rem 2rem;
      }

      @media screen and(max-width: 780px) {
        width: 80%;
        padding: 1rem 2rem;

      }
    }

    h2 {
      padding: 2rem 0;
      font-size: 3em;
    }

    &__gif {
      width: 30rem;
    }

    &__header {
      padding: 2rem;
      font-size: 1.8em;
    }

    &__me {
      max-width: 25rem;

      @media screen and(max-width: 560px) {
        width: 100%;
      }

      @media screen and(max-width: 780px) {
        width: 100%;
      }
    }

    &__main {
      font-size: 1.4em;
    }

    &__close {
      padding: 2rem;
      font-size: 1.5em;
    }

    // &__bye {

    // }

    &__links {

      i {
        color: #000000;
        font-size: 3em;
        margin: 1rem 1rem;
        transition: 100ms;
      }

      i:hover {
        color: #464646;
      }
    }

    &__link {
      margin: 0 auto;
      display: block;
      text-decoration: none;
      background-color: #1fc435;
      color: #fff;
      border-radius: 0.5rem;
      width: 6rem;
      font-size: 1.4em;
      transition: 100ms;
    }

    &__link:hover {
      background-color: #78c282;
    }
  }

  .damage{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;


    &__list{
      background-color: white;
      max-width: 300px;
      margin: 0.5rem;
      padding: 2rem;
      border-radius: 1rem;

      h1{
        font-size: 25px;
        margin-bottom: 10px;
      }
      h2{
        font-size: 18px;
        font-weight: 300;
        color: white;
        display: inline;
        margin-right: 10px;
        margin-top: 10px;
        padding: 3px 10px;
        border-radius: 0.5rem;
      }
    }
  }
 
}
